* {
    background-color: #d3d0cbff;
    color: #6e8898ff;
}

h1 {
    color: #2e5266ff;
    text-align: center;
}

h2,h3,h4 {
    color: #9fb1bcff;
}
/*
colors are:
#2e5266ff;
#6e8898FF
#9gb1bvff
#d3d0cbff